@font-face {
  font-family: Chalk;
  src: url(blzee.ttf);
}

.home-header{
      width:100%;
      min-height:800px;
      background-image:url(education-ppt-background-study-time-for-education-ppt-backgrounds.jpg);
      background-size:cover;
}

.button {
  background-color: #1B321D;
  color: white;
  font-weight: 700;
  font-family: Chalk;
  font-size: 40px;
  width: 200px;
  height: 50px;
  border-width: 0;
  padding-left: 3px;
  padding-top: 3px;
}
.button:hover {
  background-color: #1B321D;
  color: white;
  font-weight: 700;
  font-family: Chalk;
  font-size: 40px;
  width: 200px;
  height: 50px;
  border-width: 0;
  text-shadow: 3px 10px #000000;
  padding-left: 0;
  padding-top: 0;
}

}

#logo {
margin-left: 25px;
}
#Carouselpic1 {
width: 85%;
margin: auto;
margin-top: 65px;
margin-bottom: 65px;
}

.carouselclass {
  width: 100%;
  margin: auto;
}

#headcolor {
    color: lightseagreen;
}
.navbar-default {
  background-color: #20b2aa;
  border-color: #9bccd9;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #feffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #feffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #feffff;
  background-color: #9bccd9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #feffff;
  background-color: #9bccd9;
}
.navbar-default .navbar-toggle {
  border-color: #9bccd9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9bccd9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #feffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #feffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #feffff;
    background-color: #9bccd9;
  }
}
